@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

/*  */


*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
  background: hsl(0, 0%, 95%);
}
img{
  object-fit: contain;
  width: 100%;
  height: auto;
}
h1{
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 2rem;
  color:  hsl(0, 0%, 95%);
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 10px;
  width: 100%;
  color: hsla(0, 0%, 100%, 0.75);
}

.card{
  padding: 40px;
  max-width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -moz-column-gap: 20px;
}

.card .card-logo{
  width: 60px;
  height: auto;
}

.card .card-title{
  width: fit-content;
  height: fit-content;
}

.card .card-content{
  width: fit-content;
  height: fit-content;
}

.card-content p{
  font-size: 15px;
  text-align: left;
}

.card .card-btn{
  width: fit-content;
  height: fit-content;
}

.card-btn button{
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid hsl(0, 0%, 95%) ;
  color: hsl(31, 77%, 52%);
  transition: all ease-in-out 500ms;
}

.card.sedan{
  background: hsl(31, 77%, 52%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.sedan button{
  color: hsl(31, 77%, 52%);
}

.card.suvs{
  background: hsl(184, 100%, 22%);
}
.suvs button{
  color: hsl(184, 100%, 22%);
}

.card.luxury{
  background: hsl(179, 100%, 13%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.luxury button{
  color: hsl(179, 100%, 13%);
}
button:hover{
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  background: transparent;
}

@media only screen and (min-width:760px) {
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
    width: 100%;
    height: 100vh;
    color: hsla(0, 0%, 100%, 0.75);
  }

  .card{
    padding: 40px;
    max-width: 300px;
    min-width: 270px ;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    -moz-column-gap: 30px;
    position: relative;
  }
  .card .card-btn{
    position: absolute;
    bottom: 60px;
  }


  .card.sedan{
    background: hsl(31, 77%, 52%);
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
  }

  .card.luxury{
    background: hsl(179, 100%, 13%);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
}